<div class="snippet solosnippet">
<strong>{{viewData.title}}</strong> 
<p>{{viewData.text}}</p>
</div>

{{#if info }}
<h1>Creator of the snippet is: {{info.author}}</h1>
<h1>Author is viewing this rn : {{info.status}}</h1>
{{/if}}

{{#if snippetOwner }}
<a href="./snippet/{{viewData.id}}/edit">Edit</a>
<a href="./snippet/{{viewData.id}}/remove">Delete</a>
{{/if}}
