<div class="onewrapper">
<div class="snippet solosnippet shadow">
    {{#if snippetOwner }}
<div class="links">
    <a href="./snippet/{{viewData.id}}/edit">Edit</a>
    <a href="./snippet/{{viewData.id}}/remove">Delete</a>
</div>
{{/if}}
<strong>{{viewData.title}}</strong> 
<p>{{viewData.text}}</p>
</div>

{{#if info }}
<h1>Creator of the snippet is: {{info.author}}</h1>
<h1>Author is viewing this rn : {{info.status}}</h1>
{{/if}}



{{#if delete }}
<div id="deletewrapper">
    <h5>Are you sure you want to delete this snippet?</h5>
    <div id="deleteoptions">
        <a class="btn btn-danger" href="./snippet/{{viewData.id}}/delete">Yes</a>
        <a class="btn btn-dark" href="./snippet/{{viewData.id}}">No</a>
    </div>
</div>
{{/if}}
</div>
